profiles {
    custom {
        process {
            withName: KRAKEN2_KRAKEN2 {
                memory = 50.GB
                cpus = 12
                maxForks = 2
                executor = 'local'
                ext.args = [
                    '--memory-mapping'
                ].join(' ').trim()
            }

            withName: FASTP_PAIRED {
                cpus   = 12 
                memory = 100.GB
                time   = 24.h
                ext.args = [
                    '--length_required 30',
                    '--dedup',
                    '--trim_poly_g',
                    '--low_complexity_filter'
                ].join(' ').trim()
            }
            withName: FASTQC {
                clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2 + 8)}G" }
                memory = {  8.GB * task.attempt }
            }

            withName: TAXPASTA_MERGE {
                memory = 8.GB
            }
            withName: TAXPASTA_STANDARDISE {
                memory = 8.GB
            }

            withName: MULTIQC {
                memory = 16.GB
                cpus = 4
            }
        }
    
    }
}

